@model DryAgentSystem.Models.Vessel



@*@Scripts.Render("~/bundles/jquery")*@
@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/jqgrid")
@*@Styles.Render("~/Content/cssjqryUi")*@
<script src="~/JQuery/VesselTab.js"></script>

<style>
    label {
        margin-top: 6px;
    }
</style>

<h2>Vessel Details</h2>


<div class="form-horizontal">
    <div class="container">
        <table id="vesselGrid">
        </table>
        <div id="vesselPager">
        </div>
    </div>
</div>
<br />
<br />

<script type="text/javascript">
    var BookingStatus = "@Html.Raw(@Model.BookingStatus)";
</script>

@using (Html.BeginForm("VesselDetailsTab", "BookingDetails", FormMethod.Post, new { id = "vesselForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <input type="button" name="submit" id="CreateVessel" value="Create" class="btn btn-success forButtonWidth"/>
                </div>
                <div class="col-md-2">
                    <input type="button" name="submit" id="UpdateVessel" value="Update" class="btn btn-info forButtonWidth"/>
                </div>
            </div>
            <br />
            <br />
            <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.CarrierBookingRefNo, htmlAttributes: new { @class = "control-label", id = "rateLabel" })
                </div>
                <div class="col-md-3 forleftalign">
                    @Html.EditorFor(model => model.CarrierBookingRefNo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CarrierBookingRefNo, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.Carrier, htmlAttributes: new { @class = "control-label" })
                    <span class="RequiredAstrik">*</span>
                </div>
                <div class="col-md-2 forleftalign">
                    @Html.EditorFor(model => model.Carrier, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Carrier, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-2">
                    @Html.LabelFor(model => model.VesselName, htmlAttributes: new { @class = "control-label" })
                    <span class="RequiredAstrik">*</span>
                </div>
                <div class="col-md-2 forleftalign">
                    @Html.EditorFor(model => model.VesselName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.VesselName, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-2">
                    @Html.LabelFor(model => model.VoyNo, htmlAttributes: new { @class = "control-label", id = "rateLabel" })
                    <span class="RequiredAstrik">*</span>
                </div>
                <div class="col-md-2 forleftalign">
                    @Html.EditorFor(model => model.VoyNo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.VoyNo, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.LoadPort, htmlAttributes: new { @class = "control-label" })
                    <span class="RequiredAstrik">*</span>
                </div>
                <div class="col-md-4 forleftalign">
                    @Html.DropDownListFor(model => model.LoadPort, new SelectList(ViewBag.PortList, "Port", "Port"),
                    "Select Port", new { @class = "btn btn-primary dropdown-toggle ForDropdownTheme", @id = "loadportDropDownList" }) 
                    @Html.ValidationMessageFor(model => model.LoadPort, "", new { @class = "text-danger" })
                </div>

                @*<div class="col-md-1"></div>*@
            <div class="col-md-2">
                @Html.LabelFor(model => model.DischPort, htmlAttributes: new { @class = "control-label" })
                <span class="RequiredAstrik">*</span>
            </div>
                <div class="col-md-4 forleftalign">
                    @Html.DropDownListFor(model => model.DischPort, new SelectList(ViewBag.PortList, "Port", "Port"),
               "Select Port", new { @class = "btn btn-primary dropdown-toggle ForDropdownTheme", @id = "dischportDropDownList" })
            @Html.ValidationMessageFor(model => model.DischPort, "", new { @class = "text-danger" })
        </div>
        </div>
        <br />
            <div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.ETD, htmlAttributes: new { @class = "control-label" })
                    <span class="RequiredAstrik">*</span>
                </div>
                <div class="col-md-4 forleftalign">
                    @Html.TextBoxFor(model => model.ETD, "{0:MM-dd-yyyy}", new { @class = "ui-datepicker form-control", @id = "ETD" })
                    @Html.ValidationMessageFor(model => model.ETD, "", new { @class = "text-danger" })
                </div>

                @*<div class="col-md-1"></div>*@
                <div class="col-md-2">
                    @Html.LabelFor(model => model.ETA, htmlAttributes: new { @class = "control-label" })
                    <span class="RequiredAstrik">*</span>
                </div>
                <div class="col-md-4 forleftalign">
                    @Html.TextBoxFor(model => model.ETA, "{0:MM-dd-yyyy}", new { @class = "ui-datepicker form-control", @id = "ETA" })
                    @Html.ValidationMessageFor(model => model.ETA, "", new { @class = "text-danger" })
                </div>
            </div>
        <br />
            @*<div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.DateSOB, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-4 forleftalign">
                    @Html.TextBoxFor(model => model.DateSOB, "{0:MM-dd-yyyy}", new { @class = "ui-datepicker form-control", @id = "DateSOB" })
                    @Html.ValidationMessageFor(model => model.DateSOB, "", new { @class = "text-danger" })
                </div>

                                <div class="col-md-1"></div>
                <div class="col-md-2">
                    @Html.LabelFor(model => model.DateATA, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-4 forleftalign">
                    @Html.TextBoxFor(model => model.DateATA, "{0:MM-dd-yyyy}", new { @class = "ui-datepicker form-control", @id = "DateATA" })
                    @Html.ValidationMessageFor(model => model.DateATA, "", new { @class = "text-danger" })
                </div>
            </div>*@
        </div>
    </div>
    @Html.HiddenFor(model => model.UniversalSerialNr)
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.LoadPort, new { @id = "LoadPortVessel" })
    @Html.HiddenFor(model => model.DischPort)
}
