@model DryAgentSystem.Models.ShipmentBL
@{
    ViewBag.Title = "ShipmentDetails";
    Layout = "~/Views/Shared/DetailLayout.cshtml";
}

@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/jqueryval")
@*@Scripts.Render("~/bundles/bootstrap")*@
@Scripts.Render("~/bundles/BootstrapMultiJs")
@Scripts.Render("~/bundles/jqgrid")
@Scripts.Render("~/bundles/JQueryDatetimejs")
@Styles.Render("~/Content/JQueryDatetimecss")
@Styles.Render("~/Content/cssjqryUi")
@Styles.Render("~/Content/sitecss")
@Styles.Render("~/Content/BootstrapMultiCss")

<script src="~/JQuery/ShipmentDetails.js"></script>
<script type="text/javascript">
    var housebl = "@Html.Raw(@Model.ShipmentDetailsModel.HBLHAWB)";
    var bltypes = "@Html.Raw(@Model.BLDetailsModel.BLTypes)";
    var blstatus = "@Html.Raw(@Model.BLDetailsModel.BLStatus)";
    var blseawaystatus = "@Html.Raw(@Model.BLDetailsModel.BLSeawayStatus)";
    var invoicesave = "@Html.Raw(@Model.ShipmentDetailsModel.InvoiceSave)";
    var usn = "@Html.Raw(@Model.ShipmentDetailsModel.UniversalSerialNr)";
</script>

<style>
    label {
        margin-top: 6px;
    }
</style>

@using (Html.BeginForm("ShipmentDetails", "ShipmentDetails", FormMethod.Post))
{
    <div class="form-group">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1" style="margin-left: -1px;">
                    <input type="submit" name="submit" id="Save" value="Save" class="btn btn-success" />
                    <input type="submit" name="submit" id="Update" value="Update" class="btn btn-success" />
                </div>
                <div class="col-md-2" style="margin-left: -1px;">
                    <a href='@Url.Action("InvoiceDetails", "InvoiceDetails", new { jobref = @Model.ShipmentDetailsModel.JobRef })' ; class="btn btn-outline-info" target="_blank" id="ExportInvoice" onclick="ReloadPage()">Print Invoice</a>
                </div>

                <div class="col-md-3">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                        Shipping Instruction
                    </button>
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content" style="z-index: 1000;">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Shipping Instruction</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div style="margin-left: 45px;">
                                                    <!-- Remove the below text and add shipper -->
                                                    @Html.LabelFor(model => model.BLDetailsModel.ShipperNameSI, htmlAttributes: new { @class = "control-label" })
                                                    <span class="RequiredAstrik">*</span>
                                                    <br>
                                                    @Html.DropDownListFor(model => model.BLDetailsModel.ShipperNameSI, new SelectList(ViewBag.CompanyList, "Text", "Text"),
                                                    "Select Agency", new { @class= "btn btn-primary dropdown-toggle ForDropdownTheme", @id = "shippernamesiDropDownList", style="width: 84%;"})
                                                    @Html.ValidationMessageFor(model => model.BLDetailsModel.ShipperNameSI, "", new { @class = "text-danger" })
                                                    <br><br>
                                                    <!-- Remove the below text and add shipper address -->
                                                    @Html.LabelFor(model => model.BLDetailsModel.ShipperAddressSI, htmlAttributes: new { @class = "control-label" })
                                                    <span class="RequiredAstrik">*</span>
                                                    <br>
                                                    @Html.TextAreaFor(model => model.BLDetailsModel.ShipperAddressSI, new { rows = "4", cols = "36", style = "resize:none;", placeholder = "Shipper Address" })
                                                    @Html.ValidationMessageFor(model => model.BLDetailsModel.ShipperAddressSI, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div style="margin-left: 45px;">
                                                    <!-- Remove the below text and add Consignee -->
                                                    @Html.LabelFor(model => model.BLDetailsModel.ConsigneeNameSI, htmlAttributes: new { @class = "control-label" })
                                                    <span class="RequiredAstrik">*</span>
                                                    <br>
                                                    @Html.DropDownListFor(model => model.BLDetailsModel.ConsigneeNameSI, new SelectList(ViewBag.CompanyList, "Text", "Text"),
                                                    "Select Agency", new { @class = "btn btn-primary dropdown-toggle ForDropdownTheme", @id = "consigneenamesiDropDownList", style = "width: 84%;" })
                                                    @Html.ValidationMessageFor(model => model.BLDetailsModel.ConsigneeNameSI, "", new { @class = "text-danger" })
                                                    <br><br>
                                                    <!-- Remove the below text and add Consignee address -->
                                                    @Html.LabelFor(model => model.BLDetailsModel.ConsigneeAddressSI, htmlAttributes: new { @class = "control-label" })
                                                    <span class="RequiredAstrik">*</span>
                                                    <br>
                                                    @Html.TextAreaFor(model => model.BLDetailsModel.ConsigneeAddressSI, new { rows = "4", cols = "36", style = "resize:none;", placeholder = "Consignee Address" })
                                                    @Html.ValidationMessageFor(model => model.BLDetailsModel.ConsigneeAddressSI, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <a href='@Url.Action("PrintBL", "ShipmentDetails", new { PrintName = "ShippingInstruction",jobref = @Model.ShipmentDetailsModel.JobRef })' ; class="btn btn-success ForShippingInstructionButton" target="_blank" onclick="shipping()"><img src="~/Content/Img/printer-fill.svg" alt="Print Icon" /> Print Shipping Instruction</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3">
                    <a href='@Url.Action("ManifestCargo", "ShipmentDetails", new { jobref = @Model.ShipmentDetailsModel.JobRef })' ; class="btn btn-outline-info" target="_blank" id="MANIFEST">Print Manifest Cargo</a>
                </div>
                <div class="col-md-2">
                    <div class="dropdown1">
                        <button type="button" class="dropbtn1" style="width: 100%;" new { id="printbls" }><img src="~/Content/Img/printer-fill.svg" alt="Print Icon" />Print BL</button>
                        <div class="dropdown-content1">
                            <a href='@Url.Action("PrintBL", "ShipmentDetails", new { PrintName = "ORIGINAL",jobref = @Model.ShipmentDetailsModel.JobRef})' ; target="_blank" id="ORIGINAL">Original BL</a>
                            <a href='@Url.Action("PrintBL", "ShipmentDetails", new { PrintName = "NON-NEGOTIABLE",jobref = @Model.ShipmentDetailsModel.JobRef })' ; target="_blank" id="NON-NEGOTIABLE" onclick="ReloadPage()">Non-Negotiable</a>
                            <a href='@Url.Action("PrintBL", "ShipmentDetails", new { PrintName = "SEAWAY",jobref = @Model.ShipmentDetailsModel.JobRef })' ; target="_blank" id="SEAWAY">Seaway</a>
                            <a href='@Url.Action("PrintBL", "ShipmentDetails", new { PrintName = "SURRENDER",jobref = @Model.ShipmentDetailsModel.JobRef })' ; target="_blank" id="SURRENDER" onclick="ReloadPage()">Surrender</a>
                            <a href='@Url.Action("PrintBL", "ShipmentDetails", new { PrintName = "DRAFT",jobref = @Model.ShipmentDetailsModel.JobRef })' ; target="_blank" id="DRAFTs" onclick="ReloadPage()">Draft BL</a>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="form-group">
                    <h3 class="text-success">@TempData["message"]</h3>
                </div>
                <div class="col-10"></div>
                <div class="col-2">
                    <input type="button" value="Re-PrintBL Request" class="btn btn-outline-info" onclick="RePrintMethod()" id="RePrint" />
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-3" style="margin-top: 14px;">
                    <b>
                        @Html.LabelFor(model => model.BLDetailsModel.NoofOriginalBLissued, htmlAttributes: new { @class = "control-label" }):
                        <span class="RequiredAstrik">*</span>
                    </b>
                </div>
                <div class="col-md-3 forleftalign" style="margin-top: 14px;">
                    <b>
                        @Html.RadioButtonFor(model => model.BLDetailsModel.NoofOriginalBLissued, "ZERO", htmlAttributes: new { @id = "NoofOriginalBLissuedZero" })
                        ZERO  &nbsp;&nbsp;&nbsp;
                        @Html.RadioButtonFor(model => model.BLDetailsModel.NoofOriginalBLissued, "ONE", htmlAttributes: new { @id = "NoofOriginalBLissuedOne" })
                        ONE &nbsp;
                        @Html.RadioButtonFor(model => model.BLDetailsModel.NoofOriginalBLissued, "THREE", htmlAttributes: new { @id = "NoofOriginalBLissuedThree" })
                        THREE
                    </b>
                    @Html.ValidationMessageFor(model => model.BLDetailsModel.NoofOriginalBLissued, "", new { @class = "text-danger" })
                </div>
            </div>
            <fieldset class="quotationfieldset" style="padding: 20px;">
                <legend class="shippingfieldsetlegend"> &nbsp; BL DETAILS &nbsp;</legend>
                <div class="row">
                    <div class="col-md-2">
                        @Html.LabelFor(model => model.ShipmentDetailsModel.JobRef, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.ShipmentDetailsModel.JobRef, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ShipmentDetailsModel.JobRef, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        @Html.LabelFor(model => model.ShipmentDetailsModel.HBLHAWB, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.ShipmentDetailsModel.HBLHAWB, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ShipmentDetailsModel.HBLHAWB, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row" style="margin-top: 12px;">
                    <div class="col-md-2">
                        @Html.LabelFor(model => model.ShipmentDetailsModel.ShipmentTerm, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.ShipmentDetailsModel.ShipmentTerm, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ShipmentDetailsModel.ShipmentTerm, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        @Html.LabelFor(model => model.ShipmentDetailsModel.MBLMAWB, htmlAttributes: new { @class = "control-label" })
                        <span class="RequiredAstrik">*</span>
                    </div>
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.ShipmentDetailsModel.MBLMAWB, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ShipmentDetailsModel.MBLMAWB, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row" style="margin-top: 12px;">
                    <div class="col-md-2">
                        @Html.LabelFor(model => model.ShipmentDetailsModel.CustomerRef, htmlAttributes: new { @class = "control-label" })
                        <span class="RequiredAstrik">*</span>
                    </div>
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.ShipmentDetailsModel.CustomerRef, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ShipmentDetailsModel.CustomerRef, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        @Html.LabelFor(model => model.ShipmentDetailsModel.Quantity, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.ShipmentDetailsModel.Quantity, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ShipmentDetailsModel.Quantity, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row" style="margin-top: 12px;">
                    <div class="col-md-2">
                        @Html.LabelFor(model => model.BLDetailsModel.NoOfPkgs, htmlAttributes: new { @class = "control-label" })
                        <span class="RequiredAstrik">*</span>
                    </div>
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.BLDetailsModel.NoOfPkgs, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.BLDetailsModel.NoOfPkgs, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        @Html.LabelFor(model => model.BLDetailsModel.PkgType, htmlAttributes: new { @class = "control-label" })
                        <span class="RequiredAstrik">*</span>
                    </div>
                    <div class="col-md-3">
                        @Html.DropDownListFor(model => model.BLDetailsModel.PkgType, new SelectList(ViewBag.pktypeList, "Text", "Text"),
                            "Select Package Type", new { @class = "btn btn-primary dropdown-toggle ForDropdownTheme", @id = "packageDropDownList" })
                        @Html.ValidationMessageFor(model => model.BLDetailsModel.PkgType, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row" style="margin-top: 12px;">
                    <div class="col-md-2">
                        @Html.LabelFor(model => model.ShipmentDetailsModel.Shipper, htmlAttributes: new { @class = "control-label" })
                        <span class="RequiredAstrik">*</span>
                    </div>
                    <div class="col-md-3">
                        @Html.DropDownListFor(model => model.ShipmentDetailsModel.Shipper, new SelectList(ViewBag.CompanyList, "Text", "Text"),
                        "Select Agency", new { @class = "btn btn-primary dropdown-toggle ForDropdownTheme", @id = "shipperDropDownList"})
                        @Html.ValidationMessageFor(model => model.ShipmentDetailsModel.Shipper, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        @Html.LabelFor(model => model.BLDetailsModel.ConsigneeNameBL, htmlAttributes: new { @class = "control-label" })
                        <span class="RequiredAstrik">*</span>
                    </div>
                    <div class="col-md-3">
                        @Html.DropDownListFor(model => model.BLDetailsModel.ConsigneeNameBL, new SelectList(ViewBag.CompanyList, "Text", "Text"),
                        "Select Agency", new { @class = "btn btn-primary dropdown-toggle ForDropdownTheme", @id = "consigneenameblDropDownList" })
                        @Html.ValidationMessageFor(model => model.BLDetailsModel.ConsigneeNameBL, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row" style="margin-top: 12px;">
                    <div class="col-md-2">
                        @Html.LabelFor(model => model.ShipmentDetailsModel.ShipperAddress, htmlAttributes: new { @class = "control-label" })
                        <span class="RequiredAstrik">*</span>
                    </div>
                    <div class="col-md-3">
                        @Html.TextAreaFor(model => model.ShipmentDetailsModel.ShipperAddress, new { rows = "4", cols = "32", style = "resize:none;", placeholder = "Shipper Address" })
                        @Html.ValidationMessageFor(model => model.ShipmentDetailsModel.ShipperAddress, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        @Html.LabelFor(model => model.BLDetailsModel.ConsigneeAddressBL, htmlAttributes: new { @class = "control-label" })
                        <span class="RequiredAstrik">*</span>
                    </div>
                    <div class="col-md-3">
                        @Html.TextAreaFor(model => model.BLDetailsModel.ConsigneeAddressBL, new { rows = "4", cols = "32", style = "resize:none;", placeholder = "Consignee Address" })
                        @Html.ValidationMessageFor(model => model.BLDetailsModel.ConsigneeAddressBL, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row" style="margin-top: 12px;">
                    <div class="col-md-2">
                        @Html.LabelFor(model => model.BLDetailsModel.NotifyPartyName, htmlAttributes: new { @class = "control-label" })
                        <span class="RequiredAstrik">*</span>
                    </div>
                    <div class="col-md-3">
                        @Html.DropDownListFor(model => model.BLDetailsModel.NotifyPartyName, new SelectList(ViewBag.CompanyList, "Text", "Text"),
                        "Select Agency", new { @class = "btn btn-primary dropdown-toggle ForDropdownTheme", @id = "notifypartynameDropDownList" })
                        @Html.ValidationMessageFor(model => model.BLDetailsModel.NotifyPartyName, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        @Html.LabelFor(model => model.BLDetailsModel.DischAgentNameBL, htmlAttributes: new { @class = "control-label" })
                        <span class="RequiredAstrik">*</span>
                    </div>
                    <div class="col-md-3">
                        @Html.DropDownListFor(model => model.BLDetailsModel.DischAgentNameBL, new SelectList(ViewBag.CompanyList, "Text", "Text"),
                        "Select Agency", new { @class = "btn btn-primary dropdown-toggle ForDropdownTheme", @id = "dischagentnameblDropDownList" })
                        @Html.ValidationMessageFor(model => model.BLDetailsModel.DischAgentNameBL, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row" style="margin-top: 12px;">
                    <div class="col-md-2">
                        @Html.LabelFor(model => model.BLDetailsModel.NotifyPartyAddress, htmlAttributes: new { @class = "control-label" })
                        <span class="RequiredAstrik">*</span>
                    </div>
                    <div class="col-md-3">
                        @Html.TextAreaFor(model => model.BLDetailsModel.NotifyPartyAddress, new { rows = "4", cols = "32", style = "resize:none;", placeholder = "Notify Address" })
                        @Html.ValidationMessageFor(model => model.BLDetailsModel.NotifyPartyAddress, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        @Html.LabelFor(model => model.ShipmentDetailsModel.DischAgentAddress, htmlAttributes: new { @class = "control-label" })
                        <span class="RequiredAstrik">*</span>
                    </div>
                    <div class="col-md-3">
                        @Html.TextAreaFor(model => model.ShipmentDetailsModel.DischAgentAddress, new { rows = "4", cols = "32", style = "resize:none;", placeholder = "Discharge Agent Address" })
                        @Html.ValidationMessageFor(model => model.ShipmentDetailsModel.DischAgentAddress, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row" style="margin-top: 12px;">
                    <div class="col-md-2">
                        @Html.LabelFor(model => model.ShipmentDetailsModel.ClosingDate, htmlAttributes: new { @class = "control-label" })
                        <span class="RequiredAstrik">*</span>
                    </div>
                    <div class="col-md-3">
                        @Html.TextBoxFor(model => model.ShipmentDetailsModel.ClosingDate, "{0:MM-dd-yyyy HH:mm}", new { @class = "ui-datepicker form-control", @id = "closingDatePicker", style = "width:245px;" })
                        @Html.ValidationMessageFor(model => model.ShipmentDetailsModel.ClosingDate, "", new { @class = "text-danger" })
                    </div>
                </div>
            </fieldset>
            <br />
            <fieldset class="quotationfieldset" style="padding: 20px;">
                <legend class="shippingfieldsetlegend"> &nbsp; PORT DETAILS &nbsp;</legend>
                <div class="row">
                    <div class="col-md-2">
                        @Html.LabelFor(model => model.ShipmentDetailsModel.LoadPort, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.ShipmentDetailsModel.LoadPort, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ShipmentDetailsModel.LoadPort, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        @Html.LabelFor(model => model.ShipmentDetailsModel.PlaceOfReceipt, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.ShipmentDetailsModel.PlaceOfReceipt, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ShipmentDetailsModel.PlaceOfReceipt, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row" style="margin-top: 12px;">
                    <div class="col-md-2">
                        @Html.LabelFor(model => model.ShipmentDetailsModel.DischPort, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.ShipmentDetailsModel.DischPort, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ShipmentDetailsModel.DischPort, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        @Html.LabelFor(model => model.ShipmentDetailsModel.PlaceOfDelivery, htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.ShipmentDetailsModel.PlaceOfDelivery, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ShipmentDetailsModel.PlaceOfDelivery, "", new { @class = "text-danger" })
                    </div>
                </div>
            </fieldset>
            <br />
            <fieldset class="quotationfieldset" style="padding: 20px;">
                <legend class="shippingfieldsetlegend"> &nbsp; VESSEL DETAILS &nbsp;</legend>
                @*<div class="row">
                        <div class="col-md-9"></div>
                        <div class="col-md-2">
                            @Html.CheckBoxFor(model => model.BLDetailsModel.VesselDetails) @Html.LabelFor(model => model.BLDetailsModel.VesselDetails, htmlAttributes: new { @class = "control-label" })
                        </div>
                    </div>*@
                <div class="row" style="margin-top: 12px;">
                    <div class="col-md-12">
                        <table id="vesselGrid" class="overflow:auto;">
                        </table>
                        <div id="vesselPager">
                        </div>
                    </div>

                    @*<div class="col-md-1">
                            @Html.LabelFor(model => model.VesselModel.ETD, htmlAttributes: new { @class = "control-label" })
                            <br /><br />
                            @Html.LabelFor(model => model.VesselModel.ETA, htmlAttributes: new { @class = "control-label", style = "margin-top: 11px;" })
                        </div>
                        <div class="col-md-2">
                            @Html.TextBoxFor(model => model.VesselModel.ETD, "{0:MM-dd-yyyy}", new { @class = "ui-datepicker form-control", @id = "ETDDatePicker" })
                            @Html.ValidationMessageFor(model => model.VesselModel.ETD, "", new { @class = "text-danger" })
                            <br />
                            @Html.TextBoxFor(model => model.VesselModel.ETA, "{0:MM-dd-yyyy}", new { @class = "ui-datepicker form-control", @id = "ETADatePicker" })
                            @Html.ValidationMessageFor(model => model.VesselModel.ETA, "", new { @class = "text-danger" })
                        </div>*@
                </div>
            </fieldset>
            <br />

            <fieldset class="quotationfieldset" style="padding: 20px;">
                <legend class="shippingfieldsetlegend"> &nbsp; INVENTORY &nbsp;</legend>
                <div class="row">
                    <div class="col-md-3">
                        @Html.Label("Available Containers")
                        <span class="RequiredAstrik">*</span>
                    </div>
                    <div class="col-md-4">
                        @Html.ListBoxFor(model => model.ShipmentDetailsModel.SelectedContainerList, Model.ShipmentDetailsModel.ContainerList, new { id = "ContainerList", @class = "selectContainerList" }) @* style = "width:300px;", size = "8", @class = "selectExportList show-tick form-control input-md"*@
                        @*<span>  Containers Selected : <span id="CountingContainers"></span></span>*@
                    </div>
                    <div class="col-md-2">
                       @* <input type="submit" name="submit" id="Allocate" value="Allocate Containers" class="btn btn-primary" />*@
                        <input type="button" name="submit" id="Allocate" value="Allocate Containers" class="btn btn-primary" onclick="allocate()"/>
                    </div>
                </div>
            </fieldset>
            <br />

            <fieldset class="quotationfieldset" style="padding: 20px;">
                <legend class="shippingfieldsetlegend"> &nbsp; MARK &amp; NOS &nbsp;</legend>
                <div class="row">
                    <div class="col-md-4">

                        @Html.LabelFor(model => model.BLDetailsModel.MarksandNo, htmlAttributes: new { @class = "control-label" })
                        <span class="RequiredAstrik">*</span>
                        @Html.TextAreaFor(model => model.BLDetailsModel.MarksandNo, new { rows = "4", cols = "32", style = "resize:none;", placeholder = "Marks & No", maxlength = "300", id = "MarksAndNo", onkeyup = "MarksAndNoCount()" })
                        @Html.ValidationMessageFor(model => model.BLDetailsModel.MarksandNo, "", new { @class = "text-danger" })
                        <span class="AligningCharacterCount"><span id="CountingCharactersMarksAndNo">0</span>/300</span>
                    </div>
                    <div class="col-md-4" style="margin-left: 50px;">

                        @Html.LabelFor(model => model.BLDetailsModel.CargoDescription, htmlAttributes: new { @class = "control-label" })
                        <span class="RequiredAstrik">*</span>
                        @Html.TextAreaFor(model => model.BLDetailsModel.CargoDescription, new { rows = "4", cols = "32", style = "resize:none;", placeholder = "Cargo Desription", maxlength = "300", id = "CargoDescription", onkeyup = "CargoDescriptionCount()" })
                        @Html.ValidationMessageFor(model => model.BLDetailsModel.CargoDescription, "", new { @class = "text-danger" })
                        <span class="AligningCharacterCount"><span id="CountingCharactersCargo">0</span>/300</span>
                    </div>
                    <div class="col-md-3" style="margin-left: 40px;">
                        @Html.LabelFor(model => model.ShipmentDetailsModel.Remark, htmlAttributes: new { @class = "control-label" })

                        @Html.TextAreaFor(model => model.ShipmentDetailsModel.Remark, new { rows = "4", cols = "32", style = "resize:none;", placeholder = "Invoice Remarks", maxlength = "300", id = "InvoiceRemark", onkeyup = "InvoiceRemarkCount()" })
                        @Html.ValidationMessageFor(model => model.ShipmentDetailsModel.Remark, "", new { @class = "text-danger" })
                        <span class="AligningCharacterCount"><span id="CountingCharactersRemarks">0</span>/300</span>
                    </div>
                </div>
                <br />
                <br />
                @*<div class="row">
                    <div class="col-md-2" style="margin-left: 470px;">
                        @Html.DropDownListFor(model => model.BLDetailsModel.GrossWeightUnit, new SelectList(ViewBag.wtunitlist, "Text", "Text"),
                            "Select GW. Unit", new { @class = "btn btn-primary dropdown-toggle ForDropdownTheme", @id = "grossweightDropDownList", style="width: 170px" })
                        @Html.ValidationMessageFor(model => model.BLDetailsModel.GrossWeightUnit, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2" style="margin-left: 20px;">
                        @Html.DropDownListFor(model => model.BLDetailsModel.NetWtUnit, new SelectList(ViewBag.wtunitlist, "Text", "Text"),
                            "Select NW. Unit", new { @class = "btn btn-primary dropdown-toggle ForDropdownTheme", @id = "netweightDropDownList", style = "width: 170px" })
                        @Html.ValidationMessageFor(model => model.BLDetailsModel.NetWtUnit, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2" style="margin-left: 25px;">
                        @Html.DropDownListFor(model => model.BLDetailsModel.MeasurementUnit, new SelectList(ViewBag.munitlist, "Text", "Text"),
                            "Select M. Unit", new { @class = "btn btn-primary dropdown-toggle ForDropdownTheme", @id = "munitDropDownList", style = "width: 170px" })
                        @Html.ValidationMessageFor(model => model.BLDetailsModel.MeasurementUnit, "", new { @class = "text-danger" })
                    </div>
                </div>*@
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <table id="containerGrid" class="overflow:auto;">
                        </table>
                        <div id="containerPager">
                        </div>
                    </div>
                </div>

            </fieldset>
            <br />
            <div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.BLDetailsModel.PlaceofIssue, htmlAttributes: new { @class = "control-label" })
                </div>
                <div class="col-md-3 forleftalign">
                    @Html.EditorFor(model => model.BLDetailsModel.PlaceofIssue, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.BLDetailsModel.PlaceofIssue, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    @Html.LabelFor(model => model.BLDetailsModel.LadenOnBoard, htmlAttributes: new { @class = "control-label" })
                    <span class="RequiredAstrik">*</span>
                </div>
                <div class="col-md-3 forleftalign">
                    @Html.TextBoxFor(model => model.BLDetailsModel.LadenOnBoard, "{0:MM-dd-yyyy}", new { @class = "ui-datepicker form-control", @id = "ladenDatePicker" })
                    @Html.ValidationMessageFor(model => model.BLDetailsModel.LadenOnBoard, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row" style="margin-top: 12px;">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.BLDetailsModel.BLFinalisedDate, htmlAttributes: new { @class = "control-label" })
                    <span class="RequiredAstrik">*</span>
                </div>
                <div class="col-md-3 forleftalign">
                    @Html.TextBoxFor(model => model.BLDetailsModel.BLFinalisedDate, "{0:MM-dd-yyyy}", new { @class = "ui-datepicker form-control", @id = "blfinalisedDatePicker" })
                    @Html.ValidationMessageFor(model => model.BLDetailsModel.BLFinalisedDate, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    @Html.LabelFor(model => model.BLDetailsModel.DateofIssue, htmlAttributes: new { @class = "control-label" })
                    <span class="RequiredAstrik">*</span>
                </div>
                <div class="col-md-3 forleftalign">
                    @Html.TextBoxFor(model => model.BLDetailsModel.DateofIssue, "{0:MM-dd-yyyy}", new { @class = "ui-datepicker form-control", @id = "issueDatePicker" })
                    @Html.ValidationMessageFor(model => model.BLDetailsModel.DateofIssue, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="row" style="margin-top: 12px;">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.BLDetailsModel.HBLFreightPayment, htmlAttributes: new { @class = "control-label" })
                    <span class="RequiredAstrik">*</span>
                </div>
                <div class="col-md-2 ForLeftAlignRadioBtn">
                    @Html.RadioButtonFor(model => model.BLDetailsModel.HBLFreightPayment, "PREPAID", htmlAttributes: new { @id = "HBLPrepaidType" })
                    Prepaid &nbsp;
                    @Html.RadioButtonFor(model => model.BLDetailsModel.HBLFreightPayment, "COLLECT", htmlAttributes: new { @id = "HBLCollectType" })
                    Collect
                    @Html.ValidationMessageFor(model => model.BLDetailsModel.HBLFreightPayment, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-2 MBLFright">
                    @Html.LabelFor(model => model.BLDetailsModel.MBLFreightPayment, htmlAttributes: new { @class = "control-label" })
                    <span class="RequiredAstrik">*</span>
                </div>
                <div class="col-md-2 ForLeftAlignRadioBtn">
                    @Html.RadioButtonFor(model => model.BLDetailsModel.MBLFreightPayment, "PREPAID", htmlAttributes: new { @id = "MBLPrepaidTypeYes" })
                    Prepaid &nbsp;
                    @Html.RadioButtonFor(model => model.BLDetailsModel.MBLFreightPayment, "COLLECT", htmlAttributes: new { @id = "MBLCollectType" })
                    Collect
                    @Html.ValidationMessageFor(model => model.BLDetailsModel.MBLFreightPayment, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    @Html.HiddenFor(model => model.ShipmentDetailsModel.UniversalSerialNr)
    @Html.HiddenFor(model => model.ShipmentDetailsModel.IDQuoteRef)
    @Html.HiddenFor(model => model.ShipmentDetailsModel.LDepotTerminal)
    @Html.HiddenFor(model => model.ShipmentDetailsModel.ChargeParty)
    @Html.HiddenFor(model => model.ShipmentDetailsModel.EquipmentType)
    @Html.HiddenFor(model => model.BLDetailsModel.TotalGweight)
}